.chakra-modal__content-container {
  display: flex;
  padding-top: 3.2rem;
}

.modal__left {
  width: 255px;
}

.modal__right {
  width: 327px;
}

.chakra-icon {
  -webkit-margin-start: var(--chakra-space-1) !important;
  margin-inline-start: var(--chakra-space-1) !important;
}
